<header class="webkite-results-header">
  <div class="webkite-match-info">
    {{#if items.length}}
      {{#with items.[0]}}
        {{#facet name="Status"}}
          {{#if (equals displayValue "In-progress")}}
            <span>Up Now</span>
          {{else}}
            <span>Up Next</span>
          {{/if}}
          &nbsp;{{displayValue}}
        {{/facet}}
      {{/with}}
    {{/if}}
  </div><!--
--><div class="webkite-embed-link">
    <a href="#webkite-embedder" class="webkite-toggle-item" data-id="webkite-embedder" data-speed="300">Embed &lt;/&gt;</a>
  </div>

  <div id="webkite-embedder" class="webkite-embed-wrapper webkite-hide">
    <a href="#" class="webkite-embed-select" onclick="document.getElementById('webkiteEmbedInput').focus(); return false;">Select All</a>
    <div class="webkite-embed-input">
      <input id='webkiteEmbedInput' type='text' value='<script type="application/javascript" id="webkite-results">var webkiteConfig={resultsServer:"//results.webkite.org",themeServer:"//iago.webkite.org",datasetId:"f581a801-fd4f-4f94-82a2-cbfeac446c73",theme:"Webkite-Themes/world-cup-score-ticker",style:"light",perPage:2};(function(){var e=document.createElement("script");e.type="application/javascript";e.src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js";e.setAttribute("data-main","//jafar.webkite.org/stable/webkite-embed.min.js");e.async=true;document.body.appendChild(e)})()</script>' onfocus='this.select();' onmouseup='return false;' readonly />
    </div>
    <a href="#" class="webkite-toggle-item webkite-embed-close" data-id="webkite-embedder" data-speed="300">X</a>
  </div>
</header>
