@import url("//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic,800,800italic");

//*******************************************************SIZES
$mainGutter: 20px;

//***********************************************COLOR PALETTES

$linkColor: #1b9cd2;
$linkHover: #0073a7;
  
//TOKEN COLORS
$tokenFirst: $linkColor;
$tokenSecond: #39a17c;
$tokenThird: #a8936f;
$tokenFourth: #e6af52;
$tokenFifth: #6f7ca8;

@if $colorVariant == light{
  $backgroundColor:#ffffff;
  $highOpacity: rgba(0,0,0,.9);
  $medOpacity: rgba(0,0,0,.7);
  $lightOpacity: rgba(0,0,0,.4);
  $lighterOpacity: rgba(0,0,0,.1);
  $lightestOpacity: rgba(0,0,0,.05);
  $lighterthanlightestOpacity: rgba(0,0,0,.04);
  $lighterevenstillOpacity: rgba(0,0,0,.02);
  $shadowOpacity: rgba(0,0,0,.2);
  //FILTER SHADE
  $stepOne: rgba(0,0,0,0.4);
  $stepTwo: rgba(0,0,0,0.3);
  $stepThree: rgba(0,0,0,0.15);
  $stepFour: rgba(0,0,0,0.02);
  $stepFive: rgba(0,0,0,0);
  }
@if $colorVariant == dark{
  $backgroundColor:#000000;
  $highOpacity: rgba(255,255,255,1);
  $medOpacity: rgba(255,255,255,.8);
  $lightOpacity: rgba(255,255,255,.7);
  $lighterOpacity: rgba(255,255,255,.1);
  $lightestOpacity: rgba(255,255,255,.05);
  $lighterthanlightestOpacity: rgba(255,255,255,.08);
  $lighterevenstillOpacity: rgba(255,255,255,.05);
  $shadowOpacity: rgba(0,0,0,.5);
  //FILTER SHADE
  $stepOne: rgba(0,0,0,0.5);
  $stepTwo: rgba(0,0,0,0.4);
  $stepThree: rgba(0,0,0,0.2);
  $stepFour: rgba(0,0,0,0.05);
  $stepFive: rgba(0,0,0,0);
  }

//******************************************************MIXINS
@mixin roundedUp($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
  }
@mixin boxedUp{
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
@mixin shadowHere{
  -webkit-box-shadow: 0 2px 5px $shadowOpacity, 0 1px 1px $shadowOpacity;
  -moz-box-shadow: 0 2px 5px $shadowOpacity, 0 1px 1px $shadowOpacity;
  box-shadow: 0 2px 5px $shadowOpacity, 0 1px 1px $shadowOpacity;
  }
@mixin hyphenGreat{
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  }
@mixin ellipsisThis{
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
@mixin breakThat{
  &::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;margin: 0;padding: 0; white-space: pre-line;
    margin-bottom: $mainGutter;
    }
  }
@mixin clearThat{
  &::after{
    content: '';
    clear:both;
    display: table;
    }
  }
@mixin putHere ($position){
  top: $position;
  right: $position;
  bottom: $position;
  left: $position;
  }
@mixin gradiateHorizontal{
  @if $colorVariant == light{background: url("gradient-fallback-light.png") repeat-y;}
  @if $colorVariant == dark{background: url("gradient-fallback-dark.png") repeat-y;}  
  background: -moz-linear-gradient(left,  $stepOne 0%, $stepTwo 5%, $stepThree 25%, $stepFour 75%, $stepFive 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,$stepOne), color-stop(5%,$stepTwo), color-stop(25%,$stepThree), color-stop(75%,$stepFour), color-stop(100%,$stepFive));
  background: -webkit-linear-gradient(left,  $stepOne 0%,$stepTwo 5%,$stepThree 25%,$stepFour 75%,$stepFive 100%);
  background: -o-linear-gradient(left,  $stepOne 0%,$stepTwo 5%,$stepThree 25%,$stepFour 75%,$stepFive 100%);
  background: -ms-linear-gradient(left,  $stepOne 0%,$stepTwo 5%,$stepThree 25%,$stepFour 75%,$stepFive 100%);
  background: linear-gradient(to right,  $stepOne 0%,$stepTwo 5%,$stepThree 25%,$stepFour 75%,$stepFive 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=1 );
  }
@mixin noShadows{
  -moz-box-shadow: none;
  -webkit-box-shadow: none; 
  box-shadow: none;
  }
@mixin hyphenLess{
  word-wrap: normal;
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  }

//********************************************************RESET
@mixin resetThings{

  div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    @include noShadows;
    @include hyphenLess;
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    text-transform: none;
    vertical-align: baseline;
    text-rendering: auto;
    -webkit-box-sizing:content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    }
  button, select, input{
    text-transform: none;
    &:active{@include noShadows;}  
    }
  button::-moz-focus-inner {
    padding: 0;
    border: 0
    }
       
  /* HTML5 display-role reset for older browsers */
   
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
   
  body {
    line-height: 1; }
   
  ol, ul, ul li {
    list-style: none; }
   
  blockquote, q {
    quotes: none; }
   
  blockquote {
    &:before, &:after {
      content: '';
      content: none; } }
   
  q {
    &:before, &:after {
      content: '';
      content: none; } }
   
  table {
    border-collapse: collapse;
    border-spacing: 0; }

  }

//*****************************FILTER SORT AND PAGINATION STYLES
//
//
@mixin universalStyles{

  /******************************************** SORT/FILTER AREA */
  #webkite-results{
    .webkite-results-header{
      text-align: justify;
      position: relative;
      .webkite-sort-area, .webkite-filter-area{
        display: inline-block;
        vertical-align:top;
        }
      .webkite-menu ul{
        width:150px;
        max-height:200px;
        overflow:hidden;
        overflow-y:auto;
        li a{
          line-height:1;
          padding:3px $mainGutter/2;
          }
        }
      }
    .webkite-results-header{
      @include clearThat;
      line-height: 1;
      margin-bottom:$mainGutter;
      }
    }

  /************************************************* SORTS */
  #webkite-results{
  
    .webkite-sort-area > .webkite-toggle{
      @include boxedUp;
      @include roundedUp(3px);
      background: $lightestOpacity;
      color: $lightOpacity;
      cursor: pointer;
      display: inline-block;
      border: 1px solid $lighterOpacity;
      font: 700 14px/1.3 'Open Sans', 'Arial', sans-serif;
      margin: 0;
      outline: none;
      padding: 3px $mainGutter/2.5 3px $mainGutter/2.5;
      height: 28px;
      text-align: left;
      i{
        @if $colorVariant == light{background: url("angle-light.png") center center no-repeat;}
        @if $colorVariant == dark{background: url("angle-dark.png") center center no-repeat;} 
        display: inline-block;
        height: 10px;
        margin-left: $mainGutter/2;
        pointer-events: none;
        width: 10px;
        }
      }
    .webkite-sort-area{
      width:68px;
      position: relative;
      z-index: 3;
      font-family: 'Open Sans', 'Arial', sans-serif;
      }
    
    }
  
  /********************************************* SORT MENU */
  #webkite-results{
  
    .sort-menu{
      margin: 0;
      @include roundedUp(3px);
      @include shadowHere;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      background: white;
      font-size: 14px;
      line-height:1.2;
      padding: $mainGutter/2 0;
      position: absolute;
      z-index: 4;
      top: $mainGutter/2;
      left: $mainGutter/2;
      }
    .sort-menu li{
      list-style-type: none;
      position: relative;
      padding-bottom:0;
      }
    .sort-menu li a{
      display: block;
      padding: $mainGutter/10 $mainGutter/2;
      white-space:pre;
      &:hover{
        background: $linkColor;
        color: white;
        } 
      }
    /* directional arrow */
    .sort-menu li.active a{
      position: relative;
      padding-right: $mainGutter*1.5;
      &.asc::after, &.desc::after{
        background: url("sort-direction.png") no-repeat;
        content: "";
        display: block;
        height: 5px;
        width: 10px;
        position: absolute;
        top: $mainGutter/2.5;
        right: $mainGutter/2;
        }
      &.asc::after{background-position: 0 0;}
      &.desc::after{background-position: 0 -5px;}
      }
    
    }
  
  /************************************************ FILTERS */
  #webkite-results{
  
    .webkite-filter-area{
      font-family: 'Open Sans', 'Arial', sans-serif;    
      @include boxedUp;
      width: 100%;
      position: relative;
      }
    .webkite-sort-area + .webkite-filter-area{
      padding-left: 78px;
      margin-left: -68px;
      }
    .webkite-applied-filters{
      position: relative; 
      }
    .current-filters{
      @if $colorVariant == light{@include roundedUp(3px);}
      @if $colorVariant == dark{@include roundedUp(4px 3px 3px 4px);}
      @include boxedUp;
      background: white;
      border: 1px solid $lighterOpacity;
      display: inline-block;
      height: 28px;
      padding: 5px 25px 5px 72px;
      position: relative;
      width: 100%;
      text-align: left;
      /* and & or */
      span{
        @if $colorVariant == light{color: $lightOpacity;} 
        @if $colorVariant == dark{color: $lightOpacity/2;} 
        font-size: 14px;
        line-height: 1.2em;
        padding: 0 0.41667em 0 0;
        vertical-align: top;
        }
      }
    .webkite-applied-filters > .webkite-toggle{
      @if $colorVariant == light{background: $lightestOpacity;} 
      @if $colorVariant == dark{background: rgba(0,0,0,.85);} 
      cursor: pointer;
      display: inline-block;
      position: absolute;
      margin: 0;
      outline: none;
      z-index: 2;
      left: 0;
      @include boxedUp;
      @include roundedUp(3px 0 0 3px);
      border: 1px solid $lightestOpacity;
      border-right-color: $lighterOpacity;
      @if $colorVariant == dark{border: 1px solid $lighterOpacity;} 
      @if $colorVariant == light{background-clip: padding-box;} 
      color: $lightOpacity;
      font: 700 14px/1 'Open Sans', 'Arial', sans-serif;
      padding: 0 $mainGutter/2.5;
      height: 28px;
      width:73px;
      white-space:nowrap;
      text-align:left;
      i{
        @if $colorVariant == light{background: url("plus-light.png") no-repeat;} 
        @if $colorVariant == dark{background: url("plus-dark.png") no-repeat;}
        display: inline-block;
        height: 12px;
        width: 12px;
        margin-left: $mainGutter/2.5;
        pointer-events: none;
        position:relative;
        top:1px;
        }
      }
    .filter-token-wrapper{
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      & > span:first-child {padding-left:0.41667em;}
      }
    /* tokens */
    a.webkite-remove-filter{
      @include ellipsisThis;
      @include roundedUp(2px);
      color: white;
      font-size: 14px;
      line-height: 1;
      max-width: 100px;
      padding: 0.0625em 0.3125em;
      text-align: left;
      word-wrap: normal;
      margin-right:0.41667em;
      &:hover{text-decoration: line-through;}
      }
    [class^="filter-group"]{
      display: inline-block;
      }
    .filter-group-0 a.webkite-remove-filter{
      background: $tokenFirst;
      }
    .filter-group-1 a.webkite-remove-filter{
      background: $tokenSecond;
      }
    .filter-group-2 a.webkite-remove-filter{
      background: $tokenThird;
      }
    .filter-group-3 a.webkite-remove-filter{
      background: $tokenFourth;
      }
    .filter-group-4 a.webkite-remove-filter{
      background: $tokenFifth;
      }
    /* clear everything */ 
    a.webkite-clear-filters{
      background: url("clear-all-icon.png") center top no-repeat;
      display: inline-block;
      height: 18px;
      width: 18px;
      position: absolute;
      right: 4px;
      top: 4px;
      &:active{
        background-position: 0 -18px;
        }
      }
    
    }
  
  /**************************************** FILTER DROPDOWN */
  #webkite-results{
  
    .filter-menu{
      margin: 0;
      @include roundedUp(3px);
      @include shadowHere;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      background: white;
      font-size: 14px;
      padding: $mainGutter/2 0;
      position: absolute;
      z-index: 3;
      top: $mainGutter/2;
      left: $mainGutter/2;
      }
    .filter-menu li{
      list-style-type: none;
      position: relative;
      padding-bottom:0;
      }
    .filter-menu li .webkite-link, .filter-menu li a{
      color: $linkColor;
      display: block;
      padding: $mainGutter/8 $mainGutter/2;
      &:hover{
        background: $linkColor;
        color: white;
        }
      }
    .filter-menu > li > .webkite-link{
        color: $linkColor;
        cursor: pointer;
        padding-right: $mainGutter;
        position: relative;
        &::after{
          @if $colorVariant == light{color: $lightOpacity;} 
          @if $colorVariant == dark{color: $lightOpacity/2;} 
          content: "\203A";
          opacity: .5;
          position: absolute;
          right: $mainGutter/3;
          }
        }
    .filter-menu-child{
      @include roundedUp(3px);
      @include shadowHere;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      display: none; 
      position: absolute; 
      background: white;
      padding: $mainGutter/2 0;
      left: 100%;
      top: -$mainGutter/2;
      margin: 0;
      }
    .filter-menu li:hover .filter-menu-child{
      display: block;
      }
    
    }
  
  /******************************* FILTER OVERVIEW AND SHADE */
  #webkite-results{
    
    .filter-token-wrapper.webkite-truncated:before{
      content: "";
      @include gradiateHorizontal;
      height: auto; width: 1.5em;
      position: absolute;
      left: 71px;
      top:-1px;
      bottom:-1px;
      }
    .all-current-filters{
      @include roundedUp(0 3px 3px 3px);
      @include boxedUp;
      background: white;
      border: 1px solid $lighterOpacity;
      line-height: 19px;
      padding: $mainGutter/4 25px $mainGutter/10 $mainGutter/4;
      position: absolute;
      top:-1px;
      right:-1px;
      left:71px;
      z-index: 3;
      .all-filters-wrapper{
        white-space: normal;
        & > span:first-child {padding-left:0;}
        [class^="filter-group"]{display: inline;}
        }
      }
    
    }

  /************************************** ELEMENT QUERIES */
  #webkite-results.xs{
    .webkite-filter-area, .webkite-sort-area, .webkite-sort-area > .webkite-toggle{width: 100%;}
    .webkite-sort-area > .webkite-toggle i{
      float: right; 
      margin-top: $mainGutter/4;
      }
    .sort-menu{width: 95%;}
    .webkite-sort-area+.webkite-filter-area{ margin-top: $mainGutter;}
    .webkite-filter-area,
    .webkite-sort-area + .webkite-filter-area{
      margin-left: 0;
      padding-left: 0;
      }
    }
  
  #webkite-results.sm{
    /*.webkite-filter-area, .webkite-sort-area, .webkite-sort-area > .webkite-toggle{ width: 100%; }
    .webkite-sort-area > .webkite-toggle i{
      float: right; 
      margin-top: $mainGutter/4;
      }
    .sort-menu{width: 95%;}
    .webkite-sort-area+.webkite-filter-area{ margin-top: $mainGutter;}
    .webkite-filter-area,
    .webkite-sort-area + .webkite-filter-area{
      margin-left: 0;
      padding-left: 0;
      }*/
    }


  }
