<div class="webkite-brackets-wrapper">
  <div class="webkite-brackets">
  
  
  
    <div class="webkite-brackets-column webkite-brackets-column-a">
      <div class="webkite-brackets-match">
        <span class="webkite-brackets-date">6/28 12:00 PM</span>
        <ul>
          <li><span class="webkite-brackets-team-image webkite-Brazil"></span> <span>BRA</span></li>
          <li><span class="webkite-brackets-team-image webkite-Chile"></span> <span>CHI</span></li>
        </ul>
      </div>
      <div class="webkite-brackets-match">
        <span class="webkite-brackets-date">6/28 4:00 PM</span>
        <ul>
          <li><span class="webkite-brackets-team-image webkite-Colombia"></span> <span>COL</span></li>
          <li><span class="webkite-brackets-team-image webkite-Uruguay"></span> <span>URU</span></li>
        </ul>
      </div>
      <div class="webkite-brackets-match">
        <span class="webkite-brackets-date">6/30 12:00 PM</span>
        <ul>
          <li><span class="webkite-brackets-team-image webkite-France"></span> <span>FRA</span></li>
          <li><span class="webkite-brackets-team-image webkite-Nigeria"></span> <span>NGA</span></li>
        </ul>
      </div>
      <div class="webkite-brackets-match">
        <span class="webkite-brackets-date">6/30 4:00 PM</span>
        <ul>
          <li><span class="webkite-brackets-team-image webkite-Germany"></span> <span>GER</span></li>
          <li><span class="webkite-brackets-team-image webkite-Algeria"></span> <span>ALG</span></li>
        </ul>
      </div>
    </div>
    
    
    
    <div class="webkite-brackets-column webkite-brackets-column-b">
      <div class="webkite-brackets-match">
        <span class="webkite-brackets-date">7/4 4:00 PM</span>
        <ul>
          <li><span class="webkite-brackets-team-image webkite-placeholder"></span> <span>TBD</span></li>
          <li><span class="webkite-brackets-team-image webkite-placeholder"></span> <span>TBD</span></li>
        </ul>
      </div>
      <div class="webkite-brackets-match webkite-match-decider">
        <span class="webkite-brackets-date">7/8 4:00 PM</span>
        <ul>
          <li><span class="webkite-brackets-team-image webkite-placeholder"></span> <span>TBD</span></li>
          <li><span class="webkite-brackets-team-image webkite-placeholder"></span> <span>TBD</span></li>
        </ul>
      </div>
      <div class="webkite-brackets-match">
        <span class="webkite-brackets-date">7/4 12:00 PM</span>
        <ul>
          <li><span class="webkite-brackets-team-image webkite-placeholder"></span> <span>TBD</span></li>
          <li><span class="webkite-brackets-team-image webkite-placeholder"></span> <span>TBD</span></li>
        </ul>
      </div>
    </div>
    
    
    
    <div class="webkite-brackets-column webkite-brackets-column-final">
      <div>
        <div class="webkite-brackets-match webkite-match-final">
          <span class="webkite-brackets-date">7/13 3:00 PM</span>
          <ul>
            <li><span class="webkite-brackets-team-image webkite-placeholder"></span> <span>TBD</span></li>
            <li><span class="webkite-brackets-team-image webkite-placeholder"></span> <span>TBD</span></li>
          </ul>
        </div>
        <div class="webkite-brackets-match webkite-match-third">
          <span class="webkite-brackets-date">7/12 4:00 PM</span>
          <ul>
            <li><span class="webkite-brackets-team-image webkite-placeholder"></span> <span>TBD</span></li>
            <li><span class="webkite-brackets-team-image webkite-placeholder"></span> <span>TBD</span></li>
          </ul>
        </div>
      </div>
    </div>
    
    
    
    <div class="webkite-brackets-column webkite-brackets-column-c">
      <div class="webkite-brackets-match">
        <span class="webkite-brackets-date">7/5 4:00 PM</span>
        <ul>
          <li><span class="webkite-brackets-team-image webkite-placeholder"></span> <span>TBD</span></li>
          <li><span class="webkite-brackets-team-image webkite-placeholder"></span> <span>TBD</span></li>
        </ul>
      </div>
      <div class="webkite-brackets-match webkite-match-decider">
        <span class="webkite-brackets-date">7/9 4:00 PM</span>
        <ul>
          <li><span class="webkite-brackets-team-image webkite-placeholder"></span> <span>TBD</span></li>
          <li><span class="webkite-brackets-team-image webkite-placeholder"></span> <span>TBD</span></li>
        </ul>
      </div>
      <div class="webkite-brackets-match">
        <span class="webkite-brackets-date">7/5 12:00 PM</span>
        <ul>
          <li><span class="webkite-brackets-team-image webkite-placeholder"></span> <span>TBD</span></li>
          <li><span class="webkite-brackets-team-image webkite-placeholder"></span> <span>TBD</span></li>
        </ul>
      </div>
    </div>
    
    
    
    <div class="webkite-brackets-column webkite-brackets-column-d">
      <div class="webkite-brackets-match">
        <span class="webkite-brackets-date">6/29 12:00 PM</span>
        <ul>
          <li><span class="webkite-brackets-team-image webkite-Netherlands"></span> <span>NED</span></li>
          <li><span class="webkite-brackets-team-image webkite-Mexico"></span> <span>MEX</span></li>
        </ul>
      </div>
      <div class="webkite-brackets-match">
        <span class="webkite-brackets-date">6/29 4:00 PM</span>
        <ul>
          <li><span class="webkite-brackets-team-image webkite-Costa-Rica"></span> <span>CRC</span></li>
          <li><span class="webkite-brackets-team-image webkite-Greece"></span> <span>GRE</span></li>
        </ul>
      </div>
      <div class="webkite-brackets-match">
        <span class="webkite-brackets-date">7/1 12:00 PM</span>
        <ul>
          <li><span class="webkite-brackets-team-image webkite-Argentina"></span> <span>ARG</span></li>
          <li><span class="webkite-brackets-team-image webkite-Ecuador"></span> <span>ECU</span></li>
        </ul>
      </div>
      <div class="webkite-brackets-match">
        <span class="webkite-brackets-date">7/1 4:00 PM</span>
        <ul>
          <li><span class="webkite-brackets-team-image webkite-Belgium"></span> <span>BEL</span></li>
          <li><span class="webkite-brackets-team-image webkite-United-States"></span> <span>USA</span></li>
        </ul>
      </div>
    </div>
  
  
  
  </div>
</div>